button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: $lime-green;
  color: $black;
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
  color: $dark-grey;
  &[disabled] {
    background: $light-grey;
  }
}

.fieldset{
  border-radius: 1rem;
  border: 5px solid $lime-green;
  width:100%;
  display:flex;
  justify-content:space-around;
  
  legend {
    padding: 10px;
    margin:auto;
  }

  #movie, #series {
    margin-top:25px;
    margin-left:15px;
  }
}

.site_buttons{
  width: 100%;
}

#backback, #back, #forward{
 margin-left: 1rem;
 font-size: 1.2rem;
}

#forward{
  float: right;
  margin-right: 1rem;
}

.site_info{
  width: 100%;
  p{
    display: inline-block;
    width: 33%;
    margin-top: 5;
  }
}