.rss_news{
    cursor: pointer;
    width: 100%;
    hr{
      background-color: $dark-grey;
      border: 3px solid $dark-grey;
    }
  }
  
.rss_content{
    display:grid;
    grid-gap: 1rem;
    font-size: 1.4rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    img {
        margin-right: 10px;
        margin-bottom: 15px;
        width: 80%;
    }
}

.audioslider, .volumeslider{
    height: 1rem;
    -webkit-appearance: none;
    background: $lime-green;
    border-radius: 100px;
    box-shadow: 0 1px 5px $dark-grey inset, 1px 1px 1px $dark-grey;
}

.audioslider{
    width: 100%;
    direction: rtl;
}
.volumeslider{
    width: 10rem;
}

#play_audio{
    margin:auto;
    display:block;
    padding: 15px 40px;
    text-align: center;
}  
.Audio_Elemente{
    font-size: 1.2rem;
}