$white: #fffffe;
$black: #0f0e17;
$lime-green:  rgb(104, 255, 67);
$pastel-green: rgb(140, 184, 102);
$dark-grey: rgb(68, 68, 68);
$light-grey: #a7a9be;
$beige: rgb(246, 245, 189);

:root {
  --link-color:  #69f645;
  --hover-color: #ff8906;
}